@import url(style.css);

.list {
    align-items: center;
    display: flex;
    gap: 32px;
}

.list-item {
    gap: 18px;
    padding: 16px;

    width: 326px;
    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.list-item__information {
    gap: 16px;
}

.list-item__information__text {}

.list-item__information__text__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--color__black);
}

.list-item__information__text__subtitle {
    font-size: 12px;
    color: var(--color__yellow);
}

.list-item__information__button {
    gap: 4px;
    width: 106px;
}

.list-item__button-style {
    align-items: center;
    height: 32px;
    font-size: 12px;
    border-radius: 16px;
}

.list-item__collapse-button {
    gap: 8px;
}

.list-item__collapse-button a {
    text-decoration: none;
}

.list-item__buttom {
    height: 64px;
}
