/*
--tg-theme-bg-color
--tg-theme-text-color
--tg-theme-hint-color
--tg-theme-link-color
--tg-theme-button-color
--tg-theme-button-text-color
*/

:root {
    /* colors */
    --color__purplish: #990099;
    --color__dark-purplish: #7B007B;
    --color__gray: #6A6A6A;
    --color__yellow: #A1824A;
    --color__dark-yellow: #907442;
    --color__black: #1C170D;
    --color__light-pink: #F3E5F5;
    --color__dark-pink: #E2C0E7;
}

/* HTML TAGS */

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

button {
    border: none;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    border-radius: 16px !important;
}

a {
    text-decoration: none;
}

/* display tags */

.d-f, .jc-sb, .jc-fs, .jc-c {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-fs {
    justify-content: flex-start; 
}

.jc-c {
    justify-content: center;
}

.col {
    flex-direction: column;
}

/* ширина страницы */

.mobile-screen {
    align-items: center;
    max-width: 390px;
    padding-top: 10px;
    
    /*border: 1px solid black;*/
}

/* кнопки */

.button-style__purplish {
    background: var(--color__purplish);   
}

.button-style__purplish, .button-style__yellow {
    color: white;
}

.button-style__purplish:active {
    background: var(--color__dark-purplish);
}

.button-style__yellow {
    background: var(--color__yellow);
}

.button-style__yellow:active {
    background: var(--color__dark-yellow);
}

.button-style__light-pink {
    background: var(--color__light-pink);
    color: var(--color__black);
}

.button-style__light-pink:active {
    background: var(--color__dark-pink);
}

/* блок с картинкой */

.img-block {
    text-decoration: none;
}

.img-block img {
    width: 358px;
}

.img-block__title {
    color: var(--color__black) !important;
    font-weight: 700;
}

.card {
    border-radius: 12px !important;
    border: none !important;
    width: 358px !important;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.card-text {
    margin-bottom: 8px;
    color: var(--color__gray);
}

/* навигация внизу страницыы */

.background__navigation {
    position: fixed;
    bottom: 0;
    width: 390px;
    background: white;
    background: white;
}

.navigation {
    display: flex;
    gap: 80px;
    width: 358px;
    padding: 12px 0 12px 0;
    font-size: 14px;
    border-top: 1px solid var(--color__yellow);
}

.navigation a {
    text-decoration: none !important;
}

.navigation__col, .navigation__col__active {
    align-items: center;
}

.navigation__col {
    color: var(--color__gray);
}

.navigation__col__active {
    color: var(--color__purplish) !important;
}
