/*
--tg-theme-bg-color
--tg-theme-text-color
--tg-theme-hint-color
--tg-theme-link-color
--tg-theme-button-color
--tg-theme-button-text-color
*/

:root {
    /* colors */
    --color__purplish: #990099;
    --color__gray: #6A6A6A;
    --color__yellow: #A1824A;
    --color__black: #1C170D;
    --color__light-pink: #F3E5F5;
    --color__dark-pink: #E2C0E7;
}

/* HTML TAGS */

body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

button {
    border: none;
    cursor: pointer;
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

a {
    text-decoration: none;
}

/* COMMON TAGS */

.d-f, .jc-sb, .jc-fs, .jc-c {
    display: flex;
}

.jc-sb {
    justify-content: space-between;
}

.jc-fs {
    justify-content: flex-start; 
}

.jc-c {
    justify-content: center;
}

.col {
    flex-direction: column;
}

.mobile-screen {
    align-items: center;
    max-width: 390px;
    padding-top: 10px;
    /*border: 1px solid black;*/
}

/* разделы приложения */

.list {
    align-items: center;
    display: flex;
    gap: 32px;
}

.list-item {
    gap: 18px;
    padding: 16px;

    width: 326px;
    
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.list-item__information {
    gap: 16px;
}

.list-item__information__text {}

.list-item__information__text__title {
    font-size: 16px;
    font-weight: 700;
    color: var(--color__black);
}

.list-item__information__text__subtitle {
    font-size: 12px;
    color: var(--color__yellow);
}

.list-item__information__button {
    gap: 4px;
    width: 106px;
    color: var(--color__black);
}

.list-item__button-style {
    align-items: center;
    border-radius: 16px;
    height: 32px;
    font-size: 12px;
    background: var(--color__light-pink);
}

.list-item__button-style:active {
    background: var(--color__dark-pink);
}

.list-item__collapse-button {
    gap: 8px;
}

.list-item__buttom {
    height: 64px;
}

/* навигация */

.background__navigation {
    position: fixed;
    bottom: 0;
    width: 390px;
    background: white;
    background: white;
}

.navigation {
    display: flex;
    gap: 80px;
    width: 358px;
    padding: 12px 0 12px 0;

    border-top: 1px solid var(--color__yellow);
}

.navigation a {
    text-decoration: none !important;
}

.navigation__col, .navigation__col__active {
    align-items: center;
}

.navigation__col {
    color: var(--color__gray);
}

.navigation__col__active {
    color: var(--color__purplish);
}
